{% extends "base/base.html" %}

{% load static %}
{% block title %}Liste des Utilisateurs{% endblock %}

{% block css %}
<!-- Vous pouvez ajouter des liens vers des fichiers CSS supplémentaires ici -->
{% endblock css %}

{% block toolbar %}
<!-- Toolbar section for navigation and page title -->
<div id="kt_app_toolbar" class="app-toolbar" style="height: 50px">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!-- Navigation tabs for different views -->
            <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8 mt-8">
                <!-- Tab item for listing users -->
                <li class="nav-item text-end">
                    <a class="nav-link text-active-primary active" data-bs-toggle="tab"
                       href="#kt_customer_view_overview_tab">Liste des Utilisateurs</a>
                </li>
            </ul>
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Toolbar container-->
</div>
{% endblock %}

{% block content %}


<form method="get" action="" class="mb-4">
    <div class="form-group">
        <label for="site">Site:</label>
        <select id="site" name="site" class="form-control">
            <option value="">Tous les sites</option>
            {% for site in sites %}
                <option value="{{ site.id }}" {% if selected_site == site.id|stringformat:"s" %}selected{% endif %}>{{ site.nom }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Filtrer</button>
    </div>
</form>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Site</th>
        </tr>
    </thead>
    <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.nom_util }}</td>
                <td>{{ utilisateur.site.nom }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Aucun utilisateur trouvé.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascript %}
<!-- JavaScript for handling dynamic content and loaders -->
<script>
    document.getElementById('site').addEventListener('change', function() {
        // Reload the page with the new site filter
        const site = this.value;
        window.location.search = `site=${site}`;
    });
</script>
{% endblock javascript %}
