{% extends "base/base.html" %}

{% load static %}
{% block title %}Bienvenue sur {% endblock %}

{% block css %}
{% endblock css %}

{% block toolbar %}
<!-- Toolbar section for navigation and page title -->
<div id="kt_app_toolbar" class="app-toolbar" style="height: 50px">
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8 mt-8">
                <li class="nav-item text-end">
                    <a class="nav-link text-active-primary active" data-bs-toggle="tab"
                       href="#kt_customer_view_overview_tab">Ajouter un Produit</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="code_interne">Code Interne:</label>
        <input type="text" id="code_interne" name="code_interne" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="marque">Marque:</label>
        <input type="text" id="marque" name="marque" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="date_inventaire">Date d'Inventaire:</label>
        <input type="date" id="date_inventaire" name="date_inventaire" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="categorie">Catégorie:</label>
        <select id="categorie" name="categorie" class="form-control" required>
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.nom_cat }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="site">Site:</label>
        <select id="site" name="site" class="form-control" required>
            <option value="">Sélectionner un site</option>
            {% for site in sites %}
                <option value="{{ site.id }}">{{ site.nom }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="utilisateur">Utilisateur:</label>
        <select id="utilisateur" name="utilisateur" class="form-control" required>
            <option value="">Sélectionner un utilisateur</option>
        </select>
    </div>
    <div class="form-group">
        <label for="valeur_achat">Valeur d'Achat:</label>
        <input type="number" step="0.01" id="valeur_achat" name="valeur_achat" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="date_achat">Date d'Achat:</label>
        <input type="date" id="date_achat" name="date_achat" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="etat">État:</label>
        <select id="etat" name="etat" class="form-control" required>
            {% for etat_value, etat_label in etat_choices %}
                <option value="{{ etat_value }}">{{ etat_label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
    
</form>


{% if success_message %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            alert('{{ success_message|escapejs }}');
        });
    </script>
{% endif %}

{% if error_message %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            alert('{{ error_message|escapejs }}');
        });
    </script>
{% endif %}
{% endblock content %}

{% block javascript %}
<script>
    document.getElementById('site').addEventListener('change', function() {
        var siteId = this.value;
        var utilisateurSelect = document.getElementById('utilisateur');

        utilisateurSelect.innerHTML = '<option value="">Sélectionner un utilisateur</option>';

        if (siteId) {
            fetch(`/stock/get_utilisateurs_par_site/?site_id=${siteId}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(utilisateur => {
                        var option = document.createElement('option');
                        option.value = utilisateur.id;
                        option.textContent = utilisateur.nom_util;
                        utilisateurSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    });
</script>
{% endblock javascript %}
